.profile__info{
    display: flex;
    flex-wrap: wrap;
    max-width: 336px;
    max-height: 73px;
}

@media screen and (max-width: 1024px){
    .profile__info{
        max-width: 282px;
        max-height: 54px;
        justify-content: center;
    }
}